<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Regex Query Tool</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./static/assets/img/favicon.png" rel="icon">
  <link href="./static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="./static/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.0.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="100">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="./static/index.html" class="logo d-flex align-items-center">
        <img src="./static/assets/img/logo.png" alt="">

      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active " href="./static/#header">Home</a></li>
          <li><a class="nav-link scrollto" href="./static/#pricing">Explore</a></li>
          <li><a class="nav-link scrollto" href="./static/#about">About</a></li>
          <li><a class="nav-link scrollto" href="./static/#team">Team</a></li>
          <li><a class="nav-link scrollto" href="./static/#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="./static/#pricing">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">REGEX QUERY TOOL</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Learn, Build & Test RegEX</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="./static/#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span >About the tool</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="./static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Explore</h2>
          <p>Select the option you want to perform</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h2 style="color: #07d5c0;">Type In</h2>
              <img src="./static/assets/img/pricing-free.png" class="img-fluid" alt="">
              <ul>
                <li>Type Directly</li>
                <li>Click on the button to check your string</li>
              </ul>
              <a href="/typein.html" class="btn-buy">Click Here</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">

              <h2 style="color: #65c600;">CSV File</h2>

              <img src="./static/assets/img/pricing-starter.png" class="img-fluid" alt="">
              <ul>
                <li>Check data in CSV File</li>
                <li>Upload your CSV File to apply Regex Functionalities</li>

              </ul>
              <a href="/csv.html" class="btn-buy">Click Here</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h2 style="color: #ff901c;">XLSX File</h2>
              <img src="./static/assets/img/pricing-business.png" class="img-fluid" alt="">
              <ul>
                <li>Check data in XLSX File</li>
                <li>Upload your XLSX File to apply Regex Functionalities</li>

              </ul>
              <a href="/xlsx.html" class="btn-buy">Click Here</a>
            </div>
          </div>

        </div>


     <!--   <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h2 style="color: #d1fa03;">Text File</h2>
            <img src="./static/assets/img/pricing-business1.png" class="img-fluid" alt="">
            <ul>
              <li>Check data in Text File</li>
              <li>Upload your Text File to apply Regex Functionalities</li>

            </ul>
            <a href="/text.html" class="btn-buy">Click Here</a>
          </div>
        </div>

      </div>

      </div> -->

    </section><!-- End Pricing Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>A Group of Passionate Undergraduate Student</h2>
              <p>
                The Regex Testers which are already available are quite challenging for non-technical persons. So we decided 
                to solve this problem and make regex query tool easier for a common person. Anyone can find and replace any 
                word in few seconds now. The main advantage of this tool which is quite unique is the support of files. Our 
                tool support files like CSV, TXT, XLSX. Also we add a feature for users so they can interact with us. We tried to 
                make it as much user friendly as possible to recover those problems. Hope this will help a user and user can 
                save immense time by using this tool.

              </p>
              <div class="text-center text-lg-start">
                <a href="./static/#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Explore Now</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="./static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h1>Team</h1>

        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="./static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="./static/"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/sohom.nandi.5/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/so_ha_m/"><i class="bi bi-instagram"></i></a>
                  <a href="./static/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Soham Nandi</h4>
                <span>Backend Developer,Regular Expression Developer,Android Developer</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="./static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="./static/"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/sumita.sarkar.12914216/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/Randrita_Sarkar/?fbclid=IwAR3pfGhGhMUb37tMfsUiBgc9_agYz0gj3ukOXe93WwIQe1dkztLi7cabAZs"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/randrita-sarkar-8690591a1/?fbclid=IwAR0EfBX7FKVdpdWceBZcZU9OkpT7wo-HW-v5z_ulCPJfN9MYjD9EnmDEU0I"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ranrita Sarkar</h4>
                <span>UI Designer,Frontend Developer,Regular Expression Developer</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="./static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="./static/"><i class="bi bi-twitter"></i></a>
                  <a href="./static/"><i class="bi bi-facebook"></i></a>
                  <a href="./static/"><i class="bi bi-instagram"></i></a>
                  <a href="./static/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sayani Pramanik</h4>
                <span>Frontend Developer</span>

              </div>
            </div>
          </div>



        </div>

      </div>

    </section><!-- End Team Section -->

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>25/3 B.P Mitra Road,<br>India,Kolkata-700035</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 7044469910<br>+91 7980773303</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>randritas@gmail.com<br>nandisoham2017@gmail.com<br>shayani@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Contact Time</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 

  <a href="./static/#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>
  <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/assets/js/main.js"></script>

</body>

</html>