<!DOCTYPE html>
<html>
    <head>
        <title>Replace</title>
    </head>
    <body>
        <a href="text.html">Click here to go the first page</a>
        <br><br>
        <form action="" method="POST" enctype="multipart/form-data">
            <p>Upload your TEXT File to apply Regex Functionalities</p>
            <input type="file" id="actual-btn" name="actual-btn"/> 
            <br> 
            <label for="find">Enter the word you want to Replace</label>
             <input type="text" name="Replace">
             <br><br>
             <label for="find">Enter the new word</label>
            <input type="text" name="nwwrd">
            <br><br>
            <button type="submit" value="submit">
                Submit
            </button>
             
        </form>
        <br>
        <br>
        <br>
        <!--<form action="" method="POST">
            <label for="find">Enter the new word</label>
            <input type="text" name="nwwrd">
            <br><br>
            <button type="submit" value="submit">
                Submit
            </button>
    
        </form>
        <br>
        <br>
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Auto width -->
<button class="btn" ><i class="fa fa-download"></i><a href={{op}} download></a> Download</button>
<a href={{op}} download="w3logo">
    <img src="/images/myw3schoolsimage.jpg" alt="W3Schools" width="104" height="142">
  </a>
    </body>
</html>